Authorization header should be case-insensitive

According to https://stackoverflow.com/a/5259004 leading to RFC2616, [Section 4.2](http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2):

    Each header field consists of a name followed by a colon (":") and the field value. 
    Field names are case-insensitive.
 
Thus authenticate should find a way to handle these header field names in a case-insensitive way, so for example `AUTHORIZATION` would also be accepted, which is not presently the case:

https://github.com/ArupAus/authenticate/blob/594f20e9327851e76d2683531e975f641f32ada9/BackEndUtils/AuthUtils.js#L40

Closing due to inactivity.